##### IOTA MoveVM testnet (source chain) <--USDT--> Sepolia (destination chain) #####

# LZ-1
DEPLOYER_ACCOUNT_PRIV_KEY="???"

# Specify the custom name for the OFT and OFTAdapter contracts
# Default name is MyOFT and MyOFTAdapter
OFT_CONTRACT_NAME=MyOFT
OFTAdapter_CONTRACT_NAME=MyOFTAdapter

# Config for IOTA MoveVM testnet (source chain)
# https://docs.layerzero.network/v2/developers/evm/technical-reference/deployed-contracts
lzEndpointOnSrcChain=0x1a44076050125825900e736c501f859c50fE728c
#### This is EID of IOTA MoveVM testnet
lzEndpointIdOnSrcChain=40423

# Config for Sepolia EVM (dst chain)
# https://docs.layerzero.network/v2/developers/evm/technical-reference/deployed-contracts
lzEndpointOnDestChain=0x6EDCE65403992e310A62460808c4b910D972f10f
lzEndpointIdOnDestChain=40161

# For deployment of OFT on destination chain (Sepolia)
mintedTokenName=USDT
mintedTokenSymbol=USDT

#### OFTAdapter on IOTA MoveVM testnet is the "oftPackageId" (instead of "oftObjectId")
oftPackageId=0x366030d29a42c911123beef822fb542d4e6477188b462652ed22764ea97932b7
#### OFT on Sepolia
oftContractAddress=0xE03934D55A6d0f2Dc20759A1317c9Dd8f9D683cA

# For setEnforcedOptions
# https://docs.layerzero.network/v2/developers/evm/gas-settings/options#lzreceive-option
executorLzReceiveOptionMaxGas=200000

# For sending the origin erc20 tokens
# On some chains, if setting this gasDrop on destination, the cross-chain sending tx can get failed with error "execution reverted"
gasDropInWeiOnDestChain=0
