{
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "printWidth": 100,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
